* {
  font-family: 'Open Sans', sans-serif;
}

.main-img {
  border: 4px solid black;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.main-img:hover {
  transform: scale(1.2) rotate(25deg);
}

body {
  background-color: #2e2e2e;
  background-image: url("https://static.pexels.com/photos/82383/night-light-black-metal-82383.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.gallery-img {
  max-width: 15%;
  max-height: 15%;
  border: 8px solid black;
  display: inline-block;
  margin: 30px;
}

.icon {
  max-width: 2.5%;
  max-height: 2.5%;
  display: inline-block;
}

/***TEST*/

.left, .right {
  float:left;
  width:20%; /*The width is 20%, by default*/
}

.main {
  float:left;
  width:60%; /*The width is 60%, by default*/
}

/*Use a media query to add a breakpoint at 800px:*/
@media (max-width:800px) {
  .left, .main, .right {
    width:100%; /*The width is 100%, when the viewport is 800px or smaller*/
  }
}
